body{
  background-color: #fff5f7;
}

.container{
  max-width: 80%;
  margin: auto;
}

.images{
  width: 150px;
}

nav .container{
  display: grid;
  grid-template-columns: 1fr 7fr;
  justify-items: end;
  align-items: center;
}

nav .container ul{
  list-style-type: none;
}

nav .container ul li{
  display: inline-block;
}

nav .container ul a{
  text-decoration: none;
  border: 1px solid;
  display: inline-block;
  width: 125px;
  text-align: center;
  padding: 12px 0;
  margin-right: 19px;
}

#todosUL{
  list-style-type: none;
}
#todosUL li{
  margin-bottom: 30px;
}
#todosUL a{
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 12px 26px;
}

#completeform{
  display: inline;
}
#completeform button{
    margin: 0 0 0 15px;
    background: red;
    border: 1px solid;
    color: white;
    padding: 5px 11px;
    font-size: 22px;
}

#todosUL .completestatus{
  background-color: red;
  color: white;
  font-size: 28px;
  padding: 1px 17px;
}
#todosUL .incompletestatus{
  background-color: green;
  color: white;
  font-size: 28px;
  padding: 1px 17px;
}
